# ASPNETCORE
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080
ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRE=
REFRESH_TOKEN_SECRET_KEY=
REFRESH_TOKEN_EXPIRE=
ISSUER=
AUDIENCE=
ALLOW_SPECIFIC_ORIGINS=http://localhost:4200, http://localhost:3000     # CORS Policy

# AUTH SERVICE DATABASE
MARIADB_PORT=3306
MARIADB_USER=
MARIADB_PASSWORD=
MYSQL_ROOT_PASSWORD=
MARIADB_DATABASE=auth_service
MARIADB_SERVER=