# ASPNETCORE
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080

# HIKING TRAIL DATABASE
MARIADB_PORT=
MARIADB_USER=
MARIADB_PASSWORD=
MYSQL_ROOT_PASSWORD=
MARIADB_USER_TO_CONNECTION=
MARIADB_DATABASE=
MARIADB_SERVER=

# Fit Data Service - MongoDB
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=
MONGO_SERVER=

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_QUEUE_HIKING_TO_FITDATA=
RABBITMQ_QUEUE_FITDATA_TO_HIKING=
RABBITMQ_EXCHANGE_HIKING_TRAIL_SERVICE=
RABBITMQ_EXCHANGE_FIT_DATA_SERVICE=

# Geoapify Reverse Geocoding API
GEOAPIFY_API_KEY=

# CLOUDINARY API
CLOUDINARY_URL=